<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_115_castro_sanchez">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".SubActivity_1" />
        <activity android:name=".SubActivity_2" />
        <activity android:name=".SubActivity_3" />
        <activity android:name=".View_1" />
        <activity android:name=".View_2" />
        <activity android:name=".View_3" />
        <activity android:name=".View_4" />
        <activity android:name=".View_5" />
        <activity android:name=".View_6" />
        <activity android:name=".View_1_1" />
        <activity android:name=".View_1_2" />
        <activity android:name=".View_1_3" />
        <activity android:name=".View_1_4" />
        <activity android:name=".View_2_1" />
        <activity android:name=".View_2_2" />
        <activity android:name=".View_2_3" />
        <activity android:name=".View_2_4" />
        <activity android:name=".View_3_1" />
        <activity android:name=".View_3_2" />
        <activity android:name=".View_3_3" />
        <activity android:name=".View_3_4" />
        <activity android:name=".View_4_1" />
        <activity android:name=".View_4_2" />
        <activity android:name=".View_4_3" />
        <activity android:name=".View_4_4" />
        <activity android:name=".View_4_5" />
        <activity android:name=".View_4_6" />
        <activity android:name=".View_5_1" />
        <activity android:name=".View_5_2" />
        <activity android:name=".View_5_3" />
        <activity android:name=".View_5_4" />
        <activity android:name=".View_5_5" />
        <activity android:name=".View_5_6" />
        <activity android:name=".View_6_1" />
        <activity android:name=".View_6_2" />
        <activity android:name=".View_6_3" />
        <activity android:name=".View_6_4" />
        <activity android:name=".View_6_5" />
        <activity android:name=".View_6_6"></activity>
    </application>

</manifest>